.modal__edit {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  padding: 0;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 28px;
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__edit-title {
  margin: 0;
  padding: 28px 0 28px 24px;
}

.modal__edit-inputs {
  background-color: #ffffff;
  position: relative;
  padding: 0 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__label {
  margin-bottom: 8px;
  padding: 0;
  flex-direction: column;
  outline: 0;
  border-width: 0 0 2px;
  width: 100%;
}

.modal__edit-inputs {
  display: block;
  outline: 0;
  margin-top: 8px;
}

.modal__edit-btn {
  width: 124px;
  height: 36px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
}

.modal__edit-btn:hover {
  cursor: pointer;
}
