.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  top: 20px;
  right: 28px;
  background-color: #ffffff;
  border: none;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__label {
  padding-bottom: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  border-width: 0 0 2px;
  outline: 0;
  width: 440px;
  margin-top: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__label_type_radio {
  padding-bottom: 8px;
}

.modal__label_type_radio:last-child {
  padding-bottom: 32px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
}

.modal__submit {
  cursor: pointer;
}
