.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-weight: 700px;
  font-family: "Cabinet";
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__signup-btn {
  margin: 0 20px 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
}

.header__signup-btn:hover {
  cursor: pointer;
}

.header__login-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
}

.header__login-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  line-height: 24.8px;
}

.header__link {
  text-decoration: none;
  color: black;
}

/* Profile Header CSS */

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px;
  border-radius: 50%;
}
